header.header
    .header__wrapper
        .header__column
            a(href=route.home)
                i.fab.fa-youtube(id ="icon")
        .header__column
            form(action=route.search, method="get")
                input(type="text" id="searchingId" name="searching")
                button(type="submit")
                    i.fas.fa-search
        .header__column
            ul
                if (!loggedUser)
                    li
                        a(href="") Join
                    li
                        a(href=`/user${route.login}`) SingIn
                else
                    li
                        p #{loggedUser.username}
                    li
                        a(href=route.userDetail(loggedUser.id)) Profile
                    li
                        a(href=route.logout) Logout
    